/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import './app/scss/animation';
@import './app/scss/variable';
@import './app/scss/product.scss';

body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color          : black !important;
}

// FONT SIZE
.font-15 {
    font-size: 15px;
}

.font-14 {
    font-size: 14px;
}

.font-13 {
    font-size: 13px;
}

.font-12 {
    font-size: 12px;
}

// BUTTON
.caption__button {
    border: none;
    border-radius: 30px;
    
    padding      : 0.75rem 3rem;

    letter-spacing: 1px;

    &:hover {
        color     : white;
        background: var(--darkred);
    }
}

// SPACING
.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}