<h1 id="tableLabel">Users</h1>




<table class="table table-bordered" *ngIf="users">
    <thead>
        <tr>
            <th>UserID</th>
            <th>UserName</th>
            <th>Password</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>DOB</th>
            <th>FullName</th>
            <th>Address</th>
            <th>RoleID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users.data; index as i;">
            <td>{{u.userId}}</td>
            <td>{{u.userName}}</td>
            <td>{{u.password}}</td>
            <td>{{u.phoneNumber}}</td>
            <td>{{u.email}}</td>
            <td>{{u.dob}}</td>
            <td>{{u.fullName}}</td>
            <td>{{u.address}}</td>
            <td>{{u.roleId}}</td>
        </tr>
    </tbody>
</table>
<ul class="pagination">
    <li class="page-item">
        <a href="javascript:void(0);" (click)="searchPrevious">Trước</a>
    </li>
    <li class="page-item"> {{users.page}} </li>
    <li class="page-item">
        <a href="javascript:void(0);" (click)="searchNext">Sau</a>
    </li>
</ul>