<div style="background: rgba(35, 35, 35, 0.9);">
    <div class="container">
        <div class="row">
            <div class="col-3 py-5">
                <h5 class="text-white">Giới thiệu</h5>
                <p>KIDI là trang mua sắm trực tuyến về thời trang nam, thời trang nữ và phụ kiện, giúp bạn tiếp cận
                    những xu hướng thời trang mới nhất.</p>
            </div>
            <div class="col-2 py-5">
                <h5 class="text-white">Liên kết</h5>
                <ul class="m-0 p-0">
                    <li class="list-unstyled"><a href="#">Giới thiệu</a></li>
                    <li class="list-unstyled"><a href="#">Tìm kiếm</a></li>
                    <li class="list-unstyled"><a href="#">Chính sách đổi trả</a></li>
                    <li class="list-unstyled"><a href="#">Chính sách bảo mật</a></li>
                    <li class="list-unstyled"><a href="#">Điều khoản dịch vụ</a></li>
                </ul>
            </div>
            <div class="col-3 py-5">
                <h5 class="text-white">Thông tin liên hệ</h5>
                <p class="m-1"><i class="fas fa-map-marker-alt"></i> Bien Hoa City, Viet Nam</p>
                <p class="m-1"><i class="fas fa-headphones-alt"></i>1212.2609</p>
                <p class="m-1"><i class="fas fa-fax"></i>1212.2609</p>
                <p class="m-1"><i class="far fa-envelope-open"></i>support@kidi.vn</p>
            </div>
            <div class="col-4 py-5">
                <h5 class="text-white">Fanpage</h5>
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKidi-Workshop-109943990649768%2F%3F__tn__%3D%252Cd%252CP-R%26eid%3DARAH3Ni04Sutxm36_rmlnXPFWww3pnhGJnykdRYVGVi3syVk7jP_6kJvBqJtYFL9IW9N4zlktf__mlCk&tabs=messaeges&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                    width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>

<div id="author" class="d-flex justify-content-center align-items-center py-2 text-secondary font-14">Powered by MyNhung
    Vo - 2020</div>