header {
    position: sticky;
    top     : 0;
    z-index : 1000;

    background-color: var(--header);
    box-shadow      : 0 1px 1px 0 rgba(0, 0, 0, .05);
}

#logo-brand {
    font-size: 3rem;

    &:hover {
        cursor: pointer;
    }
}

#menu {
    a {
        color         : black;
        text-transform: uppercase;
        padding       : 0.5rem 1rem;

        &:hover {
            opacity: 0.8;
        }
    }
}

#icon {
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
    }
}

.cart--icon {
    position: relative;

    .cart--show {
        display         : none;
        background-color: white;

        position: absolute;
        top     : 3.2rem;
        right   : -3rem;

        width     : 20rem;
        max-height: 25rem;

        box-shadow: 0 40px 40px 0 rgba(0, 0, 0, .05);
    }
}

.cart--show {
    position: relative;

    &::after {
        content: "";

        position: absolute;
        top     : -1.5rem;
        right   : 3.9rem;

        border-style : solid;
        border       : 12px solid transparent;
        border-bottom: 12px solid white;
        box-shadow   : 40px 40px 40px 0 rgba(0, 0, 0, .05);
    }
}

.cart--icon:hover .cart--show {
    display   : block;
    transition: 0.3s ease-in-out;
}