<div class="py-2 text-secondary font-15" style="background: #e0e0e0;">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <i class="fab fa-facebook-f mr-2"></i>
                <i class="fab fa-instagram mx-2"></i>
                <i class="fab fa-pinterest-p mx-2"></i>
                <i class="fab fa-youtube mx-2"></i>
            </div>
            <div class="col-4 text-center">Miễn phí giao hàng với hóa đơn trên 1.000.000 VND</div>
            <div class="col-4 d-flex justify-content-end">
                support@kidi.vn
            </div>
        </div>
    </div>
</div>

<!-- Navigation  -->
<header>
    <div class="container">
        <nav class="row d-flex justify-content-center align-items-center">
            <div id="logo-brand" class="col-md-2 font-weight-bold">
                <a routerLink="/">KIDI<span style="color: #ED213A">.</span></a>
            </div>
            <div id="menu" class="col-md-8 d-flex justify-content-center align-items-center">
                <ul class="m-0 p-0 list-unstyled">
                    <li>
                        <a routerLink="/">Trang chủ</a>
                        <a href="#">Nam</a>
                        <a href="#">Nữ</a>
                        <a routerLink="/sale" style="color: red!important;">Sale</a>
                        <a href="#">Phụ kiện</a>
                        <a href="#">Blog</a>
                        <a routerLink="/contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 d-flex justify-content-end py-3">
                <div id="icon" style="border-right: 0.5px solid #dddddd;">
                    <i class="far fa-user-circle mx-3"></i>
                </div>
                <div id="icon">
                    <i class="fas fa-shopping-bag mx-3"></i>
                </div>
            </div>
        </nav>
    </div>
</header>
