<div class="container">
    <div class="row py-4">
        <div class="text-secondary font-12 px-3 py-2 mx-3 mb-3"
            style="background-color: var(--whitesmoke); width: 100%;">Trang chủ/ Phụ kiện</div>
        <div class="col-lg-4 mb-4" *ngIf="products.totalRecord">
            <div class="product--block" *ngFor="let p of products.data">
                <div class="product--block--img">
                    <img src="https://{{p.imageSource}}">
                    <div class="product--block--overlay">
                        <button type="button"
                            class="btn btn-dark caption__button text-uppercase font-13" [routerLink]="['/products', {id:p.productId}]">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1" [routerLink]="['/products', {id:p.productID}]">{{p.productName}}
                    </p>
                    <p class="product--price font-14 m-0">{{p.price}}<span>đ</span></p>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4 mb-4">
            <div class="product--block">
                <div class="product--block--img">
                    <img src="./assets/images/accessories/1.jpg">
                    <div class="product--block--overlay">
                        <button type="button" class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1">Đồng hồ G-Shock GS01</p>
                    <p class="product--price font-14 m-0">3.500.000<span>đ</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="product--block">
                <div class="product--block--img">
                    <img src="./assets/images/accessories/4.jpg">
                    <div class="product--block--overlay">
                        <button type="button" class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1">Túi bao tử Nike xanh</p>
                    <p class="product--price font-14 m-0">700.000<span>đ</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="product--block">
                <div class="product--block--img">
                    <img src="./assets/images/accessories/1.jpg">
                    <div class="product--block--overlay">
                        <button type="button" class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1">Đồng hồ G-Shock GS01</p>
                    <p class="product--price font-14 m-0">3.500.000<span>đ</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="product--block">
                <div class="product--block--img">
                    <img src="./assets/images/accessories/4.jpg">
                    <div class="product--block--overlay">
                        <button type="button" class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1">Túi bao tử Nike xanh</p>
                    <p class="product--price font-14 m-0">700.000<span>đ</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="product--block">
                <div class="product--block--img">
                    <img src="./assets/images/accessories/1.jpg">
                    <div class="product--block--overlay">
                        <button type="button" class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1">Đồng hồ G-Shock GS01</p>
                    <p class="product--price font-14 m-0">3.500.000<span>đ</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="product--block">
                <div class="product--block--img">
                    <img src="./assets/images/accessories/4.jpg">
                    <div class="product--block--overlay">
                        <button type="button" class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1">Túi bao tử Nike xanh</p>
                    <p class="product--price font-14 m-0">700.000<span>đ</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="product--block">
                <div class="product--block--img">
                    <img src="./assets/images/accessories/1.jpg">
                    <div class="product--block--overlay">
                        <button type="button" class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                            giỏ</button>
                    </div>
                </div>
                <div>
                    <p class="product--name font-15 m-0 pt-2 pb-1">Đồng hồ G-Shock GS01</p>
                    <p class="product--price font-14 m-0">3.500.000<span>đ</span></p>
                </div>
            </div>
        </div> -->
    </div>
    <!-- Pagination  -->
    <ul class="pagination d-flex justify-content-end align-items-center">
        <li class="page-item">
            <a href="javascript:void(0);" (click)="searchPrevious()"><i class="fas fa-caret-left"></i></a>
        </li>
        <li class="page-item mx-2">{{products.page}}</li>
        <li class="page-item">
            <a href="javascript:void(0);" (click)="searchNext()"><i class="fas fa-caret-right"></i></a>
        </li>
    </ul>
</div>