<section id="men">
    <!-- <div class="container">
        <div class="my-5" style="margin-left:30%">
            <img src="./assets/images/banner/men.jpg" alt="men banner" style="width:50%">
        </div>
    </div> -->
    <div class="container container-men mb-5">
        <div class="row">
            <!-- <div class="col-md-3 py-1">
                <div class="searching mb-4">
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control mb-2 mr-sm-2 font-12" placeholder="Nhập tên sản phẩm...">
                        <button type="submit" class="btn btn-dark mb-2 font-12">Tìm kiếm</button>
                    </div>
                </div>
                <hr>
                <div class="category my-4">
                    <p class="text-uppercase font-weight-bold">Phân loại hàng</p>
                    <ul class="m-0 p-0">
                        <li class="my-2"><a class="category--text" href="">Tất cả</a></li>
                        <li class="my-2"><a class="category--text" href="">Quần</a></li>
                        <li class="my-2"><a class="category--text" href="">Áo</a></li>
                        <li class="my-2"><a class="category--text" href="">Phụ kiện</a></li>
                        <li class="my-2"><a class="category--text" href="">Khuyến mãi</a></li>
                    </ul>

                </div>

            </div> -->


            <div class="col-md-9 py-1">hhhhhh




            </div>




            
        </div>
    </div>
</section>