<section id="men">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE  -->
            <div class="col-md-3 pt-3">
                <div class="searching">
                    <div class="input-group mr-sm-2">
                        <input type="text" class="form-control mr-sm-2 font-12" placeholder="Nhập tên sản phẩm...">
                        <button type="submit" class="btn btn-dark font-12">Tìm kiếm</button>
                    </div>
                </div>
                <hr class="my-3">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Phân loại hàng
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <ul class="m-0 px-3">
                                <li class="my-2"><a class="category--text">Tất cả</a></li>
                                <li class="my-2"><a class="category--text">Quần</a></li>
                                <li class="my-2"><a class="category--text">Áo</a></li>
                                <li class="my-2"><a class="category--text">Phụ kiện</a></li>
                                <li class="my-2"><a class="category--text">Khuyến mãi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RIGHT SIDE  -->
            <div class="col-md-9 py-3">
                <div class="row">
                    <div class="text-secondary font-12 px-3 py-2 mx-3 mb-3"
                        style="background-color: var(--whitesmoke); width: 100%;">Trang chủ/ Sản phẩm nam</div>
                    <div class="col-md-4 mb-4" *ngIf="products.totalRecord">
                        <div class="product--block" *ngFor="let p of products.data">
                            <div class="product--block--img">
                                <img src="./assets/images/men/tee/2.png">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1" routerLink="/products">{{p.ProductName}}
                                </p>
                                <p class="product--price font-14 m-0">{{p.Price}}<span>đ</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/tee/9.png">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Áo thun nam trắng CH02</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/hoodie/1.jpg">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Hoodie Champion Vàng</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/tee/2.png">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Áo thun nam đỏ CH01</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/tee/9.png">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Áo thun nam trắng CH02</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/hoodie/1.jpg">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Hoodie Champion Vàng</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/tee/2.png">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Áo thun nam đỏ CH01</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/tee/9.png">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Áo thun nam trắng CH02</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="product--block">
                            <div class="product--block--img">
                                <img src="./assets/images/men/hoodie/1.jpg">
                                <div class="product--block--overlay">
                                    <button type="button"
                                        class="btn btn-dark caption__button text-uppercase font-13">Thêm vào
                                        giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="product--name font-15 m-0 pt-2 pb-1">Hoodie Champion Vàng</p>
                                <p class="product--price font-14 m-0">500.000<span>đ</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination  -->
        <ul class="pagination d-flex justify-content-end align-items-center">
            <li class="page-item">
                <a href="javascript:void(0)" (click)="searchPrevious()"><i class="fas fa-caret-left"></i></a>
            </li>
            <li class="page-item mx-2">{{products.page}}</li>
            <li class="page-item">
                <a href="javascript:void(0)" (click)="searchNext()"><i class="fas fa-caret-right"></i></a>
            </li>
        </ul>
    </div>
</section>