<section id="signup">
    <div class="container my-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 px-3">
                <h2 class="font-weight-bold mb-5">Đăng ký</h2>
                <form>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Tên đăng nhập" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Mật khẩu" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="example@xyz.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-minus"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="dd/mm/yyyy" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Số điện thoại" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end col-md-10">
                        <button type="button" class="btn ml-3 mt-3 py-2 px-4 text-light text-uppercase"
                            style="background-color: var(--darkred);">Đăng ký</button>
                    </div>
                    <div class="col-md-10 mt-3 font-15">
                        Bạn đã có tài khoản? Hãy <span routerLink="/login" style="cursor: pointer;"><u>Đăng nhập</u></span> ở đây
                    </div>
                </form>
            </div>
            <div class="col-md-6 px-3 align-items-center justify-content-center">
                <img src="./assets/images/signup.png" alt="signup" style="width: 100%; ">
            </div>
        </div>
    </div>
</section>