<div id="wrapper" class="d-flex">
    <ul class="navbar-nav bg-gradient-primary sidebar font-4-all">
        <li class="logo d-flex justify-content-center align-items-center">
            <div id="logo-brand" class="font-weight-bold d-flex" style="font-size:2rem;">
                <div routerLink="/" class="text-light" style="font-family: 'Roboto'; cursor: pointer;">
                    KIDI ADMIN<span style="color: var(--darkred);">.</span>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider mt-4 mb-0">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider mt-1">

        <div class="sidebar-heading">
            Hệ thống
        </div>

        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách</span>
            </a>
            <div id="collapseTwo" class="collapse">
                <div class="py-2 collapse-inner bg-gray">
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin">
                <i class="far fa-user"></i>
                Người dùng
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-products">
                <i class="fas fa-tshirt"></i>
                Sản phẩm
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-category">
                <i class="fa fa-list-ul"></i>
                Loại sản phẩm
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-promotion">
                <i class="fas fa-bullhorn"></i>
                Khuyến mãi
            </a>
        </li>
</div>
</div>
</li>

<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
    </a>
    <div id="collapseThree" class="collapse">
        <div class="py-2 collapse-inner bg-gray">
            <li>
                <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
                    <i class="material-icons">done</i>
                    Đăng nhập
                </a>
            </li>
            <li>
                <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
                    <i class="material-icons">done</i>
                    Đăng kí
                </a>
            </li>
            <li>
                <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
                    <i class="material-icons">done</i>
                    Quên mật khẩu
                </a>
            </li>
</div>
</div>
</li>
<!-- Divider -->
<hr class="sidebar-divider my-0">
</ul>
<!-- End of Sidebar -->

<!-- RIGHT SIDE  -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg bg-white shadow">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input name="first" [(ngModel)]="key" class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm..." aria-label="Search">
                    <button (click)="searchCategory(1)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                </form>
            </div>

                <!-- Nav Item - User Information -->
                <div class="nav-item dropdown no-arrow font-4-all d-flex justify-content-end">
                    <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div style="width: 20px; margin: 0 auto;">
                            <img src="./assets/images/admin-ava.png" width="100%">
                        </div>
                        <span class="font-13">Admin</span>
                    </a>

                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Hồ sơ
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Cài đặt
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Hoạt động
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Đăng xuất
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 my-3 text-gray font-4-all">Danh sách loại sản phẩm</h1>
            <div class="content-top d-flex">
                <a href="#">
                    Trang chủ/
                </a>
                <div class="ml-1">Danh sách/ Loại sản phẩm</div>
            </div>

            <!-- Data -->
            <div class="card shadow my-4">
                <div class="card-header py-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#Modal"
                        (click)="openModal(true, c)">
                        Tạo mới
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <p *ngIf="!categories"><em>Loading...</em></p>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                            *ngIf="categories.totalRecord>0">
                            <thead>
                                <tr>
                                    <th>Mã loại SP</th>
                                    <th>Tên loại SP</th>
                                    <th>Tiêu đề</th>
                                    <th>Mô tả</th>
                                    <th>Giới tính</th>
                                    <th>Thao tác</th>
                                </tr>
                            <tbody>
                                <tr *ngFor="let c of categories.data">
                                    <td>{{ c.categoryId }}</td>
                                    <td>{{ c.categoryName }}</td>
                                    <td>{{ c.title }}</td>
                                    <td>{{ c.description }}</td>
                                    <td>{{ c.gioiTinh }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary mr-1" data-toggle="modal"
                                            data-target="#exampleModal" (click)="openModal(false,c)">
                                            Chỉnh sửa</button>
                                        <button id="delete" class="btn btn-danger"
                                            (click)="deleteModal(c)">Xóa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer dataTables_paginate paging_simple_numbers d-flex justify-content-end" id="dataTable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous ">
                            <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="0"
                                (click)="searchPrevious()" tabindex="0" class="page-link">Trước</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                class="page-link">{{ categories.page }}</a>
                        <li class="paginate_button page-item next">
                            <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="4"
                                (click)="searchNext()" tabindex="0" class="page-link">Sau</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL CREATE AND UPDATE CATEGORY -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">Thêm loại sản phẩm mới</h5>
                <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">Chỉnh sửa loại sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tên loại</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="category.categoryName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tiêu đề</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="category.title">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Mô tả</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="category.description">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Thuộc giới tính</label>
                    <div class="col-sm-8">
                        <form>
                            <label class="radio-inline"> <!-- nam se return ve false, nu se return ve true -->
                              <input [(ngModel)]="category.gender" [value]="false" type="radio" name="optradio" checked>Nam
                            </label>
                            <label class="radio-inline">
                              <input [(ngModel)]="category.gender" [value]="true" type="radio" name="optradio">Nữ
                            </label>
                          </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" (click)="addCategory()" *ngIf="!isEdit" class="btn btn-success">Tạo mới</button>
                <button type="button" (click)="updateCategory()" *ngIf="isEdit" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DELETE CATEGORY-->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">				
				<h5 class="modal-title">Bạn có chắc chắn xóa?</h5>	
            </div>
			<div class="modal-body">
				<p>Sau khi xóa sẽ không thể phục hồi.</p>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>
				<button type="button" (click)="deleteCategory(category)" class="btn btn-danger">Xóa</button>
			</div>
		</div>
	</div>
</div>