<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Page Wrapper -->
<!-- LEFT SIDE - SIDE BAR  -->
<div id="wrapper" class="d-flex">
    <ul class="navbar-nav bg-gradient-primary sidebar font-4-all">
        <li class="logo d-flex justify-content-center align-items-center">
            <div id="logo-brand" class="font-weight-bold d-flex" style="font-size:2rem;">
                <div routerLink="/" class="text-light" style="font-family: 'Roboto'; cursor: pointer;">
                    KIDI ADMIN<span style="color: var(--darkred);">.</span>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider mt-4 mb-0">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider mt-1">

        <div class="sidebar-heading">
            Hệ thống
        </div>

        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách</span>
            </a>
            <div id="collapseTwo" class="collapse">
                <div class="py-2 collapse-inner bg-gray">
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin">
                <i class="far fa-user"></i>
                Người dùng
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-products">
                <i class="fas fa-tshirt"></i>
                Sản phẩm
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-category">
                <i class="fa fa-list-ul"></i>
                Loại sản phẩm
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-promotion">
                <i class="fas fa-bullhorn"></i>
                Khuyến mãi
            </a>
        </li>
</div>
</div>
</li>

<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
    </a>
    <div id="collapseThree" class="collapse">
        <div class="py-2 collapse-inner bg-gray">
            <li>
                <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
                    <i class="material-icons">done</i>
                    Đăng nhập
                </a>
            </li>
            <li>
                <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
                    <i class="material-icons">done</i>
                    Đăng kí
                </a>
            </li>
            <li>
                <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
                    <i class="material-icons">done</i>
                    Quên mật khẩu
                </a>
            </li>
</div>
</div>
</li>
<!-- Divider -->
<hr class="sidebar-divider my-0">
</ul>
<!-- End of Sidebar -->

<!-- RIGHT SIDE  -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg bg-white shadow">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                </form>
            </div>

            <!-- Nav Item - User Information -->
            <div class="nav-item dropdown no-arrow font-4-all">
                <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span style="margin-right: 0.25em;">Admin</span>
                    <i class="fas fa-fw fa-user"></i>
                </a>

                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Hồ sơ
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cài đặt
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Hoạt động
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Đăng xuất
                    </a>
                </div>
            </div>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 my-3 text-gray font-4-all">Danh sách mã khuyến mãi</h1>
            <div class="content-top d-flex">
                <a href="#">
                    Trang chủ/
                </a>
                <div class="ml-1">Danh sách/ Mã khuyến mãi</div>
            </div>

            <!-- Data -->
            <div class="card shadow my-4">
                <div class="card-header py-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#Modal"
                        (click)="openModal(true, p)">
                        Tạo mới
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <p *ngIf="!promotions"><em>Loading...</em></p>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                            *ngIf="promotions.totalRecord>0">
                            <thead>
                                <tr>
                                    <th>Mã giảm giá</th>
                                    <th>Tên sự kiện giảm giá</th>
                                    <th>Phần trăm khuyến mãi</th>
                                    <th>Thao tác</th>
                                </tr>

                            <tfoot>
                                <tr>
                                    <th>Mã giảm giá</th>
                                    <th>Tên sự kiện giảm giá</th>
                                    <th>Phần trăm khuyến mãi</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>

                            <tbody>
                                <tr *ngFor="let p of promotions.data">
                                    <td>{{ p.promotionId }}</td>
                                    <td>{{ p.promotionName }}</td>
                                    <td>{{ p.salePercent }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary mr-1" data-toggle="modal"
                                            data-target="#exampleModal" (click)="openModal(false,p)">
                                            Chỉnh sửa</button>
                                        <button id="delete" class="btn btn-danger"
                                            (click)="deleteModal(p)">Xóa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous ">
                            <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="0"
                                (click)="searchPrevious()" tabindex="0" class="page-link">Trước</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                class="page-link">{{ promotions.page }}</a>
                        <li class="paginate_button page-item next">
                            <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="4"
                                (click)="searchNext()" tabindex="0" class="page-link">Sau</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Create New Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">Tạo mới</h5>
                <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">Chỉnh sửa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tên sự kiện giảm giá</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="promotion.promotionName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Phần trăm khuyến mãi (%)</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" min="0" max="100" [(ngModel)]="promotion.discount">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" (click)="addPromotion()" *ngIf="!isEdit" class="btn btn-success">Tạo mới</button>
                <button type="button" (click)="updatePromotion()" *ngIf="isEdit" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- DELETE PROMOTION -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">				
				<h5 class="modal-title">Bạn có chắc chắn xóa?</h5>	
            </div>
			<div class="modal-body">
				<p>Sau khi xóa sẽ không thể phục hồi.</p>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>
				<button type="button" (click)="deletePromotion()" class="btn btn-danger">Xóa</button>
			</div>
		</div>
	</div>
</div>