<div id="wrapper" class="d-flex">
    <app-sidebar class=" bg-gradient-primary"></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <nav class="navbar navbar-expand-lg bg-white shadow d-flex justify-content-end pr-5">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Nav Item - User Information -->
                <div class="nav-item dropdown no-arrow font-4-all d-flex justify-content-end">
                    <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div style="width: 20px; margin: 0 auto;">
                            <img src="./assets/images/admin-ava.png" width="100%">
                        </div>
                        <span class="font-13">Admin</span>
                    </a>

                    <!-- Data -->
                    <div class="card shadow my-4">
                        <div class="card-header py-3 d-flex justify-content-end">
                            <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#Modal"
                                (click)="openModal(true, p)">
                                Tạo mới
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <p *ngIf="!promotions"><em>Loading...</em></p>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                    *ngIf="promotions.totalRecord>0">
                                    <thead>
                                        <tr>
                                            <th>Mã giảm giá</th>
                                            <th>Tên sự kiện giảm giá</th>
                                            <th>Phần trăm khuyến mãi</th>
                                            <th>Thao tác</th>
                                        </tr>

                                    <tfoot>
                                        <tr>
                                            <th>Mã giảm giá</th>
                                            <th>Tên sự kiện giảm giá</th>
                                            <th>Phần trăm khuyến mãi</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        <tr *ngFor="let p of promotions.data">
                                            <td>{{ p.promotionId }}</td>
                                            <td>{{ p.promotionName }}</td>
                                            <td>{{ p.salePercent }}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary mr-1" data-toggle="modal"
                                                    data-target="#exampleModal" (click)="openModal(false,p)">
                                                    Chỉnh sửa</button>
                                                <button id="delete" class="btn btn-danger"
                                                    (click)="deleteModal(p)">Xóa</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="card-footer dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous ">
                                        <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="0"
                                            (click)="searchPrevious()" tabindex="0" class="page-link">Trước</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                            class="page-link">{{ promotions.page }}</a>
                                    <li class="paginate_button page-item next">
                                        <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="4"
                                            (click)="searchNext()" tabindex="0" class="page-link">Sau</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Create New Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">Tạo mới</h5>
                                <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">Chỉnh sửa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tên sự kiện giảm giá</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" [(ngModel)]="promotion.promotionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Phần trăm khuyến mãi (%)</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="number" min="0" max="100"
                                            [(ngModel)]="promotion.discount">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="button" (click)="addPromotion()" *ngIf="!isEdit"
                                    class="btn btn-success">Tạo mới</button>
                                <button type="button" (click)="updatePromotion()" *ngIf="isEdit"
                                    class="btn btn-success">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Create New -->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Tạo mới thông tin</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Họ</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tên</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Số điện thoại</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Ngày sinh</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-success">Tạo mới</button>
                                <!-- DELETE PROMOTION -->
                                <div id="myModal" class="modal fade">
                                    <div class="modal-dialog modal-confirm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Bạn có chắc chắn xóa?</h5>
                                                >>>>>>> 25a9c9beb925cbf3e9644bfff7a4d178eda6378f
                                            </div>
                                            <div class="modal-body">
                                                <p>Sau khi xóa sẽ không thể phục hồi.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở
                                                    về</button>
                                                <button type="button" (click)="deletePromotion()"
                                                    class="btn btn-danger">Xóa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>